doctype html
html
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/stylesheets/appStyle.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto')
    script(src='/javascripts/jquery-2.1.4.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/sdk.min.js')
    script(src='/javascripts/app.js')
  body
    block content